@charset "UTF-8";
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #1F598C, #2983A6);}

main {
    box-shadow: 1px 1px 1px black;
        background-color: white;
        border-radius: 30px;
        width: 1280px;
        padding: 15px;
        margin: auto;
        margin-top: 20px;
    }
header{
        background-color: white;
        border-radius: 30px;
        width: 1280px;
        padding: 15px;
        margin: auto;
        margin-top: 20px;
    }


code{
        word-wrap:break-word;
        white-space: pre-wrap;
        background-color: lightblue;
        display: block;
        border-radius: 10px;
        text-align: left;
}
code > span{
    font-size: 16px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.cabeca{
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px;

    border-style: solid;
    border-color: rgba(81, 79, 79, 0.616);
    border-width: 4px;
    border-radius: 12px;}
    
.ensinamentos{
    text-align: justify;
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px -7px;

    border-style: solid;
    border-width: 4px;
    border-color: rgba(31, 6, 6, 0.415);
    border-radius: 12px;}


.listas{
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px -7px;

    border-style: solid;
    border-width: 4px;
    border-color: rgb(235, 29, 29);
    border-radius: 12px;}
.listas > h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: rgba(44, 43, 43, 0.751); 

    border-style: solid;
    border-width: 3px;
    border-color: rgba(22, 21, 21, 0.415);
    border-radius: 10px;}


.links{
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px -7px;

    border-style: solid;
    border-width: 4px;
    border-color: rgb(182, 193, 26);
    border-radius: 12px;}
.links > h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 3px;
    margin: 10px;
    background-color: rgba(44, 43, 43, 0.751); 

    border-style: solid;
    border-width: 5px;
    border-color: rgba(22, 21, 21, 0.415);
    border-radius: 10px;}


.imagens{  
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px -7px;

    border-style: solid;
    border-width: 4px;
    border-color: rgb(182, 193, 26);
    border-radius: 12px;}
.imagens > h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: rgba(44, 43, 43, 0.751); 

    border-style: solid;
    border-width: 3px;
    border-color: rgba(22, 21, 21, 0.415);
    border-radius: 10px;}
.posicao {
    display: flex;
    position: relative;
    left: 30px;
    right: 20px;}


.audios{
    background-color: rgba(170, 170, 170, 0.395);
    padding: 10px;
    margin: 20px -7px;

    border-style: solid;
    border-width: 4px;
    border-color: rgb(13, 164, 239);
    border-radius: 12px;}
.audios > h1 {text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: rgba(44, 43, 43, 0.751); 

    border-style: solid;
    border-width: 5px;
    border-color: rgba(22, 21, 21, 0.415);
    border-radius: 10px;}




    .quadricular{
        display: inline-block;
        background-color: gray;
        height: 100px;
        width: 100px;
        text-align: center;
    }
    .quadricular:hover {
        background-color: yellowgreen;
        
    }
    .quadricular p{
        display: none;
    }


.quadricular4{
    display: inline-block;
        background-color: gray;
        height: 100px;
        width: 100px;
        font-size: 16px;
}
.quadricular4 p{
    display: none;
}
.quadricular4:hover{
    display: inline-block;
    background-color: yellowgreen;
    height: 100px;
    width: 100px;
}
.quadricular4:hover p{
    display: block;
    background-color: yellowgreen;}

    .quadrado{
        display: inline-block;
        border: 1px solid black;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        background-color: lightgray;
    }
    #q1{
        background-color: blue;
    }
    #q2{
        background-image: linear-gradient(to bottom, yellow, red);
    }
    #q3{
        background-image: url(/imagensP2/pattern001.png);
    }
    .listasback{
        display: flex;
        justify-content: space-around;
    }

    .block{
        background-image: url(imagensP2/wallpaper003.jpg);
        height: 200px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
    }
    span{
        font-size: 9px;
    }
    #w1{
        background-position: left top;
    }
    #w2{
        background-position: left center;
    }
    #w3{
        background-position: right bottom;
    }
    #w4{
        background-position:  center center;
    }
    .bc12{
        display: flex;
        justify-content: space-around;
    }

    .c1{
        
        display: inline-block;
        background-color: purple;
        width: 400px;
        height: 400px;
        padding: 10px;
        border: 3px solid black;
        position: relative;

        background-image: url(imagensP2/target001.png);
        background-size: 100% 100%;
    }
    .bc1{
        width: 150px;
        height: 150px;
        background-color: whitesmoke;
        border: 1px solid black;
        background-image: url(imagensP2/target001.png);
        background-size: 100% 100%;
    }
    .bc2{
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: whitesmoke;
        border: 1px solid black;
        background-image: url(imagensP2/target001.png);
        background-size: 100% 100%;
        
        left: 50%;
        top: 50%;
    }
    .bc3{
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: whitesmoke;
        border: 1px solid black;
        background-image: url(imagensP2/target001.png);
        background-size: 100% 100%;
        
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }
#left {
    text-align: left;
}
#right {
    text-align: right;
}
#center {
    text-align: center;
}
#justify {
    text-align: justify;
}
.imgparalax1{
    background-image: url(ProjetoCordel/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

#abra {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 200px;
    width: 250px;

    border-style: solid;
    border-width: 20px;
    border-color: rgb(85, 65, 65);

    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: auto;

    outline-width: 5px;
    outline-color: rgb(70, 70, 70);
    outline-style: inset;
}

.tx1e{
    text-transform: uppercase;
}

.tx2e{
    font-variant: small-caps;
}
.tabelasmaster{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
}
#tabela1{
    display: inline-block;
    width: 20vw;
    background-color: rgba(128, 128, 128, 0.644);
    border-radius: 10px;
    padding: 15px;
}
#tabela2{
    display: inline-block;
    width: 20vw;
    background-color: rgba(128, 128, 128, 0.644);
    border-radius: 10px;
    padding: 15px;
    borderst
}