@charset "UTF-8"

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}

p{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
